body {
  background-color: #c4dfaa;
  background-image: url(1bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right ;
  font-family: "Dancing Script", cursive;
}

h1,
p {
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(189, 223, 156, 0.676);
  box-shadow: 2px 2px 10px black;
  border-radius: 10px;
  margin: 50px;
  padding: 50px 20px;
}
.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  align-items: center;
}
button {
  padding: 10px;
  background-color: #ffeb9c;
  border: none;
  font-family: "Dancing Script", cursive;
  box-shadow: 2px 2px 10px black;
  border-radius: 10px;
  text-transform: uppercase;
}
button:hover {
  padding: 10px;
  background-color: #3878fe;
  color: white;
  box-shadow: 2px 2px 3px #f6a091;
}

.advice {
  background-color: #c4dfaa;
  min-height: 120px;
  margin-top: 20px;
  width: 500px;
  box-shadow: 2px 2px 10px black;
  padding: 10px;
  border-radius: 10px;
  /* display: none; */
}
.show{
  display: block;
}
h4 {
  text-align: center;
}

@media all and (max-width: 600px) {
  .App {
    margin: 40px;
    padding: 20px 10px;
  }
  .advice {
    margin-top: 20px;
    width: 400px;
    padding: 10px;
  }
}

@media all and (max-width: 420px) {
  .App {
    margin: 20px;
  }
  .advice {
    width: 250px;
    padding: 10px;
  }
}

@media all and (max-width: 290px) {
  .App {
    margin: 10px;
    padding: 10px 10px;
  }
  .advice {
    width: 210px;
    padding: 10px;
  }
}

